/* ====================
*      variables
* =====================*/
//Primary Color
$color-primary:#0ab968; $color-primary-dark:#19a078; $color-primary-light:#ddfff1;

//Secondary Color
$color-s1:#343a40; $color-s1-dark:#212529; $color-s2:#dc3545; $color-s2-dark:#b02a37; $color-s3:#e6f4ff; $color-s4:#d8d9ed;

//Basic Color
$color-1:#228bee; $color-2:#222;
//Basic Color : gray
$color-g1:#f8f9fa; $color-g2:#e9ecef; $color-g3:#dee2e6; $color-g4:#ced4da; $color-g5:#adb5bd; $color-w:#fff; $text-title:#212529; $text-body:#343a40; $text-body-sub:#6c757d; $text-helper:#495057; $text-placeholder:#adb5bd; $text-disabled:#6c757d; $border-base:#ced4da; $border-base-light:#e9ecef; $border-base-dark:#495057;

// spacing
$space-xs:2px; $space-s:8px; $space-m:1.6rem; $space-lg:2.4rem; $space-xl:4rem; $space-xxl:8rem;

// float clear
@mixin clearfix {&::after {content:""; display:block; clear:both;}}

@mixin ellipsis {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

@mixin box-shadow {background:#fff; box-shadow:0px 8px 16px 0px rgba(0, 0, 0, .15);}

@mixin box-shadow-top {background:#fff; box-shadow:0px -8px 16px 0px rgba(0, 0, 0, .15);}

@mixin box-shadow-sm {background:#fff; box-shadow:0px 2px 4px 0px rgba(0, 0, 0, .08);}

@mixin box-shadow-lg {background:#fff; box-shadow:0px 16px 48px 0px rgba(0, 0, 0, .17);}

@mixin box-shadow-inset {background:#fff; box-shadow:0px 8px 16px 0px rgba(0, 0, 0, .08) inset;}
textarea:focus {outline:none;}
button:focus {outline:none;}
input:focus {outline:none;}

/* =========== font-face ============= */
@font-face {
	font-family: 'Pretendard Variable';
	src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}



/* ==================== 
*        reset
* ==================== */
html {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body {margin:0;}
* {box-sizing:border-box;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
address {display:block;}
address {font-style:normal;}
a {color:inherit; background-color:transparent; text-decoration:none;}
a:active,
a:hover {outline:0;}
h1,
h2,
h3,
h4,
h5,
h6 {margin:0; font-weight:600;}
img {border:0; max-width:100%;}
hr {height:0; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
button,
input,
optgroup,
select,
textarea {margin:0; font:inherit; color:inherit;}
button {overflow:visible; background:none; border:none; padding:0;}
button,
select {text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {-webkit-appearance:button; cursor:pointer;}
button[disabled],
html input[disabled] {cursor:default;}
button:focus {outline:#007bce dotted thin;}
textarea {overflow:auto;}
optgroup {font-weight:bold;}
table {border-spacing:0; border-collapse:collapse; width:100%;}
td,
th {padding:0;}
ul,
ol {padding:0; margin:0; list-style:none;}
dl,
dt,
dd {margin:0;}
p {padding:0; margin:0;}
i,
em {font-style:normal}