@tailwind base;
@tailwind components;
@tailwind utilities;

.pnc_html {
  /* font-size: 16px; */
}
.pnc_html * {
  font-family: "Pretendard Variable" !important;
}
/* .pnc_html a,
.pnc_html button {
  border: inherit;
}

.pnc_html input[type="text"],
.pnc_html input[type="number"],
.pnc_html input[type="password"] {
  background: inherit;
} */

.pnc_html .body_wrap header{
  box-shadow:none;
}

.pnc_html .body_wrap{
  /* background:#f3f5f7; */
}